$primary: #3A4374;
$primaryLight: #647196;
$primaryDark: #373F68;

$primaryHover: #4661E6;

$buttonFeedback: #AD1FEA;
$buttonFeedbackHover: #C75AF6;

$grey: #F2F4FE;
$greyLight: #F2F4FF;
$btnUpvoteActive: #4661E6;
$btnUpvoteHover: #CFD7FF;
