@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800&display=swap');
@import url('app/styles/fonts.scss');

* {
  font: 400 16px/23px 'Jost', sans-serif;
}

body {
  background: #F7F8FD;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.d-flex {
  display: flex;
}
